<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pulkit.platform.furnitureecommerceappui">

    <!-- Required permission for AR and camera access -->
<!--    <uses-permission android:name="android.permission.CAMERA"/>-->

    <!-- Specifies that the app uses AR features and the camera -->
<!--    <uses-feature android:name="android.hardware.camera.ar" android:required="false"/>-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">

        <!-- Model Detail Activity -->
        <activity
            android:name="com.pulkit.platform.furnitureecommerceappui.ModelDetailPage"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- Favourite Page Activity -->
        <activity
            android:name="com.pulkit.platform.furnitureecommerceappui.FavouritePage"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- Profile Page Activity -->
        <activity
            android:name="com.pulkit.platform.furnitureecommerceappui.ProfilePage"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- Home Page Activity -->
        <activity
            android:name="com.pulkit.platform.furnitureecommerceappui.HomePage"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- Main Activity with android:exported attribute -->
        <activity
            android:name="com.pulkit.platform.furnitureecommerceappui.AuthenticationPage"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Register Page Activity -->
        <activity
            android:name=".RegisterPage"
            android:label="Register"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- Forget Password Activity -->
        <activity
            android:name=".ForgetPasswordPage"
            android:label="Forgot Password"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- Beds Category Page Activity -->
        <activity
            android:name="com.pulkit.platform.furnitureecommerceappui.BedsCategoryPage"
            android:label="Beds Category"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- Tables Category Page Activity -->
        <activity
            android:name="com.pulkit.platform.furnitureecommerceappui.TablesCategoryPage"
            android:label="Tables Category"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- Tables Category Page Activity -->
        <activity
            android:name="com.pulkit.platform.furnitureecommerceappui.SofaSetsCategoryPage"
            android:label="SofaSets Category"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
    </application>
</manifest>
